<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Economy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="bg" style="background-image: url({% static 'img/slot.jpg' %})";>
    <h2>Earn 500 gold in 25 moves or less</h2>
    <p>Your gold: {{ request.session.gold }}</p>
    <p>Your potatoes: {{ request.session.potatoes }}</p>
    <p>Your wheat: {{ request.session.wheat }}</p>
    <p>Your corn: {{ request.session.corn }}</p>
    <div id="casino">
        <h3>Casino</h3>
        <h4>Earn or lose 0-50 gold</h4>
        <form action="/gamble" method="POST">
            {% csrf_token %}
            <input type="hidden" name="wager" value="slots">
            <input type="submit" value="Gamble">
        </form>
    </div>    
    <a href="/store" role="button">Go to the store</a>
    <a href="/" role="button">Go to the farm</a> 
    <div id="bottom">
        <div id="activities">
            <h4>Activities</h4>
            {% for activity in activities %}
                <p>{{ activity }}</p>
            {% endfor %}
        </div>
        <div id="reset">
            <form action="/delete" method="POST">
                {% csrf_token %}
            <input type="submit" value="Try Again?">
            </form>
        </div>
    </div>  
</body>